/* General Navbar styles */
.navbar {
  background-color: #ec550f;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* margin-top: -3vh; */
}

.navbar-container {
  display: flex;
 justify-content: space-around;
  width: 100%;
}

/* Logo styles */
.navbar-logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 10px 10px;
}

.logo {
  font-size: 49px;
  font-weight: bold;
}

/* Toggle button */
.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Menu styles */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding-top: 3vh;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
text-align: center;

}

.menu li a:hover {
  color: #ffd700;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .toggle-button {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 90px;
    left: 30px;
    background-color: #010408;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    width: 30vh;
    text-align: center;
  }

  .menu-open {
    display: flex;
  }
}
@media (max-width: 584px) {
  .menu{
    margin-top: 10vh;
    left:20vh;
  }
}
@media (max-width: 456px) {
  .menu{
    margin-top: 20vh;
    left:20vh;
  }
}
@media (max-width: 340px) {
  .menu{
    margin-top: 20vh;
    left:10vh;
  }
}