
  .app {
    text-align: center;
    margin: 20px;
  }
  
  .search-input {
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .car-card {
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .car-card:hover {
    transform: scale(1.05);
  }
  
  .style-one {
    background-color: #f9f9f9;
    border: 2px solid #eee;
  }
  
  .style-two {
    background: linear-gradient(135deg, #fff, #f0f0f0);
    border: 2px solid #ddd;
  }
  
  .car-card img {
    width: 100%;
    max-width:60vw;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
  }
  
  .car-card h3 {
    margin: 10px 0;
    color: #333;
  }
  
  .car-card .price {
    color: #007bff;
    font-weight: bold;
  }
  
  .car-card p {
    margin: 5px 0;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons .btn {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .whatsapp-button {
    background-color: #25d366;
  }
  
  .callus-button {
    background-color: #007bff;
  }
 